*{ padding: 0%;
    margin: 0%;


}

.head{
background-color: black;
color: aliceblue;
text-align: center;
padding-top: -10%;
padding-right: 75%;

}
.pone{
    text-align: center;
color: rgb(54, 42, 42);
background-color: aliceblue;

}